footer,header{
	display:block
}

html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

body{
	margin:0;
}

a:focus{
	outline:thin dotted;
}

a:active,a:hover{
	outline:0;
}

h1{
	font-size:2em;
	margin:0.67em 0
}

b,strong{
	font-weight:bold
}

img{
	border:0
}

button,input,select,textarea{
	font-family:inherit;
	font-size:100%;
	margin:0
}

textarea {
	min-width: 5%;
	max-width: 65%;
}

button,input{
	line-height:normal
}

button,select{
	text-transform:none
}

button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0
}

::-moz-selection{
	background:rgba(0,0,0,0.3);
	color:#fff;
	text-shadow:none
}

::selection{
	background:rgba(0,0,0,0.3);
	color:#fff;
	text-shadow:none
}

body{
	background:white;
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
	font-weight:100;
	color:#fff;
	width:100%;
	height:100%;
	font-size: 88%;
	-webkit-tap-highlight-color:rgba(0, 0, 0, .3);
	-ms-touch-action:none;
	-ms-content-zooming:none
}

div{
	-ms-backface-visibility:hidden
}

html{
	width:100%;
	height:100%
}

@-webkit-keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}
@-moz-keyframes fadeIn {
    0% { opacity:0 } 
    100% { opacity:1 }
}
@-o-keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}
@-ms-keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}
@keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}

@-webkit-keyframes fadeInLeft {
    0% { opacity:0; right:0px; left:200px; }
    100% { opacity:1; right:0px; left:0px; }
}
@-moz-keyframes fadeInLeft {
    0% { opacity:0; right:0px; left:200px; }
    100% { opacity:1; right:0px; left:0px; }
}
@-o-keyframes fadeInLeft {
    0% { opacity:0; right:0px; left:200px; }
    100% { opacity:1; right:0px; left:0px; }
}
@-ms-keyframes fadeInLeft {
    0% { opacity:0; right:0px; left:200px; }
    100% { opacity:1; right:0px; left:0px; }
}
@keyframes fadeInLeft {
    0% { opacity:0; right:0px; left:200px; }
    100% { opacity:1; right:0px; left:0px; }
}

@-webkit-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-o-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-ms-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes slideIn {
    0% {opacity:0; left:12% }
    100% {left:3.9%; opacity:0.93; }
}
@-moz-keyframes slideIn {
    0% { opacity:0; left:12% }
    100% { left:3.9%; opacity:0.93; }
}
@-o-keyframes slideIn {
    0% { opacity:0; left:12% }
    100% { left:3.9%; opacity:0.93; }
}
@-ms-keyframes slideIn {
    0% { opacity:0; left:12% }
    100% { left:3.9%; opacity:0.93; }
}
@keyframes slideIn {
    0% { opacity:0; left:12% }
    100% { left:3.9%; opacity:0.93; }
}

@-webkit-keyframes fadeInDown {
	0% { opacity: 0; transform: translateY(-20px); }
	100% { opacity: 1; transform: translateY(0);}
}

@-moz-keyframes fadeInDown {
	0% { opacity: 0; -moz-transform: translateY(-20px);}
	100% { opacity: 1; -moz-transform: translateY(0); }
}

@-o-keyframes fadeInDown {
	0% { opacity: 0; -o-transform: translateY(-20px); }
	100% { opacity: 1; -o-transform: translateY(0); }
}

@-ms-keyframes fadeInDown {
	0% { opacity: 0; transform: translateY(-20px); }
	100% { opacity: 1; transform: translateY(0);}
}

@keyframes fadeInDown {
	0% { opacity: 0; transform: translateY(-20px); }
	100% { opacity: 1; transform: translateY(0);}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
a{
	color: black;
	text-decoration:none
}

a:link, a:visited{
	color: rgb(38, 114, 236);
}

a:link:hover, a:visited:hover{
    color: rgba(38, 114, 236, 0.6);
}


h1,h2,h3,h4,h5{
	font-weight:100;
	margin:0
}

h1{
	font-size:2.7em;
	color:#e7e7e7;
	letter-spacing:1px
}

h2{
	font-size:1em;
	color:rgb(133, 133, 133)
}

ul{
	list-style:none;
	margin:0;
	padding:0
}

li{
	display:block;
}

input, select, textarea, button {
    font-size: 100%;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

:root input[type="text"]:focus, :root input[type="password"]:focus, :root textarea:focus {
    border-color: rgb(92, 92, 92);
    outline: medium none;
}

:root input[type="text"], :root input[type="password"] {
    height: 1.571em;
}

:root input[type="text"], :root input[type="password"], :root textarea {
    padding: 4px 8px;
    color: rgb(33, 33, 33);
    border: 1px solid rgb(186, 186, 186);
    background-color: rgb(255, 255, 255);
}

:root input[type="text"]:hover, :root input[type="password"]:hover, :root textarea:hover {
    border-color: rgb(143, 143, 143);
}

:root input[type="text"]:disabled, :root input[type="password"]:disabled, :root textarea:disabled {
    background-color: rgb(240, 240, 240);
}

:root input[type="button"]:hover, :root input[type="submit"]:hover, :root button:hover {
	background-color: rgb(33, 153, 33);
}
:root input[type="button"]:active, :root input[type="submit"]:active, :root button:active {
	background-color: black;
	color: white;
}
:root input[type="button"], :root input[type="submit"], :root button {
	height: 2em;
	min-width: 6em;
	font-family: "Segoe UI Web Semibold","Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
	font-size: 100%;
	background-color: rgb(0, 130, 0);
	color: rgb(255, 255, 255);
	padding: 3px 12px 5px;
	border: 0px none;
}

:root input[type="button"].blue, :root input[type="submit"].blue, :root button.blue{
	background-color: rgb(38, 114, 236);
}
:root input[type="button"].blue:hover, :root input[type="submit"].blue:hover, :root button.blue:hover {
	background-color: rgb(90, 148, 241);
}
:root input[type="button"].blue:active, :root input[type="submit"].blue:active, :root button.blue:active {
	background-color: black;
	color: white;
}

:root select {
    padding-left: 5px;
    border: 1px solid rgb(186, 186, 186);
    height: 32px;
}

:root body.Firefox select {
    height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

table{
	max-width:100%;
	background-color:#fff;
	border-collapse:collapse;
	border-spacing:0
}

table{
	width:100%;
	margin-bottom: 25px;
}

table th,table td{
	padding:8px;
	font-size:14px;
	line-height:14pt;
	vertical-align:top;
	border-bottom:1px #eaeaea solid;
	vertical-align:bottom;
	text-align: left;
}

table th[class*="span"],table td[class*="span"]{
	display:table-cell!important;
	float:none!important;
	margin:0
}

table thead th.right, table tbody td.right{
	vertical-align:bottom;
	text-align: right;
}

table tbody tr:last-child td{
	border-bottom:0
}

table tbody+tbody{
	border-top:2px solid #eaeaea
}

table .table{
	background-color:#bfbfbf
}

table.condensed th,table.condensed td{
	padding:4px 5px
}

table.striped tbody tr:nth-child(odd){
	background:#eee
}

table.bordered{
	border:1px #eaeaea solid;
	border-left:0
}

table.bordered td,table.bordered th{
	border-left:1px #eaeaea solid;
	border-bottom:1px #eaeaea solid
}

table.no-border td,table.no-border th{
	border:0
}

table.border{
	border:1px #eaeaea solid!important
}

table.hovered tbody tr:hover{
	background-color:rgba(28,183,236,0.1)
}

table tr.success{
	background-color:#60a917!important
}

table tr.error{
	background-color:#e51400!important
}

table tr.warning{
	background-color:#fa6800!important
}

table tr.info{
	background-color:#4390df!important
}

table tr.info td,table tr.warning td,table tr.error td,table tr.success td,table tr.info td *,table tr.warning td *,table tr.error td *,table tr.success td *{
	color:#fff!important
}

table tr.selected{
	background-color:rgba(28,183,236,0.1)
}

#clearfix{
	clear: both;
}

.ButtonBack {
	background: url(../img/icon_sprite_actionArrow_white.png) no-repeat;
	display: inline-block;
	float: left;
	width: 34px;
	height: 34px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
}

.ButtonBack:hover {
	background-position: 0 -36px;
	text-decoration: none;
}

.dialog {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.7);
}

.dialog > #content{
	position:absolute;
	top:30%;
	width:100%;
	height:auto;
	z-index:999;
	background:rgb(10, 10, 10);
}

.dialog > #content > #title{
	color:white;
	margin-left:30%;
	font-size: 23px;
	padding-top:1%;
}

.dialog > #content > #summary{
	margin-left:30%;
	color:white;
	font-size: 16px;
	font-weight:lighter;
}

.dialog > #content > #body{
	margin-left:30%;
	padding-top:1.5%;
}

.dialog > #content > #buttons{
	margin-left:58%;
	padding-bottom:1%;
	float: left;
}


.dialog button{
	height: 2em;
	min-width: 6em;
	font-family: "Segoe UI Web Semibold","Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
	font-size: 100%;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: 2px solid white;
	margin-right: 10px;
}

.dialog button.marked{
	background-color: rgba(255, 255, 255, 0.2);
}

.dialog button.red{
	background-color: rgb(186, 19, 26);
	border: 2px rgb(186, 19, 26);
}

.dialog button.red:hover{
	background-color: rgba(186, 19, 26, 0.3);
	border: 2px rgba(186, 19, 26, 0.3);
}

.dialog button.red:active{
	color: black;
	background-color: white;
}


.dialog button:hover{
	background-color: rgba(255, 255, 255, 0.3);
}

.dialog button:active{
	color: black;
	background-color: white;
}

.accordion {
	list-style: none;
	*zoom: 1;
	margin-bottom: 10px;
}
.accordion:before,
.accordion:after {
	display: table;
	content: "";
}
.accordion:after {
	clear: both;
}
.accordion  > li {
	margin-bottom: 5px;
	display: block;
	overflow: hidden;
	width: 99%;
}
.accordion  > li  > a {
	font-size: 16px;
	color: rgb(255, 255, 255);
	padding: 16px 10px 17px 45px;
	background-color: rgb(29, 29, 29);
	display: block;
	font-weight: normal;
}

.accordion  > li  > a:hover {
	font-size: 16px;
	color: rgb(255, 255, 255);
}

.accordion  > li.active > a{
	background-color: rgb(58, 58, 58);
}

.accordion  > li.active  > a > span{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHpSURBVEhLtZavT8JRFMXBGQgEg5FAYNNgIBAMBhpsEowEIpFgYLMYMBsMFht/gRNHgRn8EzDoCBY2CAQ3g4GAAz/ncUW+ym++nu3swnn3nfu47/se32BgDobDYRie8DEFozAiHXRhB9aDwWAFvjl1CqYWkDGhSDwjykgmL8QW1LgK7cEMPIA3jF/MKzTGYDBIwLYxbfJMkHMIm/B9YT4JWdiDZVa5Y/JCkBtizqXNPTXZCwa0ciXkTFoZFEoyvw/Vuh8wEEZUS8omrQ28Svh8wO8HYiy2iUu3ZRbw2MarMV6srV6tWbihywLPOH5qVUy9z8FXG/MNeD7A8y0+6xBVnOov7mFKBaJ2iHwFns+EqApot90JnQR9XAk2bRItikRUYBt+OukfoAIdFqCLzAOqrwSbNokIvl1XAOri8hWY7xM6KlCH3qPtD45hTZV2eV51KBIjfXOo5fj1iHEn8OUaNhFCTtgQeD3Cqn11FfUrdJ9fmrQ28CjAPp7agx8gpqF+VtKklSFTPHST5k3ygoEiVPUS1PlYGszTymV+ZdJ0kJCxxAZFRps0B+RoQ9VzPSjTV/4bJEZgGeoa161YwCgpM+MRWh7eWU4Vzdtzw9zXFibGCFnoXls4sO5fCrPv15Ya2i18kv4XgcAXTr+7IYi7bgIAAAAASUVORK5CYII%3D) no-repeat;
}


.accordion  > li  > a> span {
	display: block;
	width: 24px;
	height: 24px;
	float: left;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIzSURBVEhLtZYhSENRFIb3HgaDwWA0LAgaBBcMggu2DTQYFwwG44JBsE6MBpOwIhO0iahYJgoqBoNhFjEqaDAIBsOCsvn99509mXub080f/t33/nPuOfedd+7d82ItUK1W++AslykYh4PSwTN8gsee5x3AF6dGIDKBAjMsMS4zKpCC3DI+QNmVaBjOwFGYx77SKlGISqUyDh+NaZObAp8JeAdff/THIQPLsMAq+03+Efj2MmfN5i6aXA8MWrkc5kz6NUg0xfx3qNJ9AUMfokpSMOnPIFaOOG+w1hCh+MjYtCzY5mENOZMbgK2HWKVwsQhavUrT8gXh11YCAXuCeCrVkM+N+vzJ9/1iYO4ctOsNwznM+PxoEx3AbuMQpjwe45KMm3Ar0APwZPN26cD9JD4Ldq2NpwAhIuZPwW21571uTA+B9ivYtBBIcekqUQ/8cOo/QCW6YtzgJe8EUgCS13UK92OUQQ2h63OuL5zBwP13/yTcVYl24arpTYFz220qEHMBXqtEx7B+a3cH07Do82hq0VGyjTu5C+AJ9d+RJvaeEugMz8NtDL1y6BTE0TFxSmxtOCcM8AQ6z9ec0AGIkYXvxBwxKQBiGpYxNOyJdqGgxNBJ6jZkAzAsQWXPQe2PtsE8rVzB102KBg4z5lgiScLkpsAnju8Z1OkZvfLvwHEQFqCO8ROYJZDOFm1/MYmmPt83nyO0+pobWn62MHGIIQPdZwtd4f6lCFb7bCmqFcNuaUAs9glLFQdwvFGvGQAAAABJRU5ErkJggg%3D%3D) no-repeat;
	margin-right: 6px;
}

.accordion  > li  > div {
	padding-left: 5px;
	margin-top: 5px;
	display: none;
}

.accordion  > li.active  > div {
	display: block;
	animation: 1s ease 0s normal none 1 fadeInDown;
}
.listview {
  margin-left: 0;
  list-style: none;
  *zoom: 1;
}
.listview li {
  margin-bottom: 10px;
  border: 4px transparent solid;
  padding: 10px;
  width: 300px;
  position: relative;
  display: block;
  cursor: pointer;
  *zoom: 1;
}
.listview li .icon {
  width: 48px;
  height: 48px;
  font-size: 40px;
  float: left;
}
.listview li .icon img {
}
.listview li .icon i {
  margin-top: 10px;
}
.listview li .data {
  margin-left: 55px;
}
.listview li .data h4 {
  margin: 0;
  padding: 0 0 2px 0;
}
.listview li .data p {
  margin: 0;
  font-size: 9pt;
}
.listview li .data .static-rating.small,
.listview li .data .progress-bar {
  margin-bottom: 3px;
}
.listview li:hover {
  outline: 3px #ccc solid;
}
.listview li:active {
  outline: 3px #3e3e3e solid;
}
.listview li:before,
.listview li:after {
  display: table;
  content: "";
}
.listview li:after {
  clear: both;
}
.listview.image li {
  width: 380px;
}
.listview.image li .icon {
  width: 100px;
  height: 100px;
  border: 1px #ccc solid;
}
.listview.image li .data {
  margin-left: 110px;
}
.listview.image li .data h4 {
  margin-bottom: 4px;
}
.listview.image li .data p {
  line-height: 16px;
  font-size: 10pt;
  margin-bottom: 5px;
}
.listview.image li .data .static-rating.small,
.listview.image li .data .progress-bar {
  margin-bottom: 10px;
}
.listview.iconic li .icon {
  width: 32px;
  height: 32px;
  border: 1px #ccc solid;
}
.listview.iconic li .data {
  margin-left: 40px;
}
.listview.fluid li {
  float: left;
  margin-right: 10px;
}
.listview li div.badge {
  position: absolute;
  left: -4px;
  top: -4px;
  background-color: #2d89ef;
  padding: 5px;
  margin: 0 !important;
  text-align: center;
  display: block;
  font-size: 9pt;
  color: #ffffff;
}
.listview li div.badge.strech {
  padding: 0 5px;
}
.listview li div.badge.right {
  right: -4px;
  left: auto;
}
.listview li div.badge.bottom {
  top: auto;
  bottom: -4px;
}
.listview > li.selected {
  border: 4px #2d89ef solid;
}
.listview > li.selected:after {
  width: 0;
  height: 0;
  border-top: 40px solid #2d89ef;
  border-left: 40px solid transparent;
  position: absolute;
  display: block;
  right: 0;
  content: "";
  top: 0;
  z-index: 1001;
}
.listview > li.selected:before {
  position: absolute;
  content: "\e08a";
  color: #fff;
  right: 4px;
  top: 0;
  font-family: iconFont;
  z-index: 1002;
  display: block;
}
.listview:before,
.listview:after {
  display: table;
  content: "";
}
.listview:after {
  clear: both;
}

.box {
    background-color: rgb(255, 255, 255);
    margin: 0.7em auto 0px;
	float: left;
	position: relative;
	margin: 0px 10px 10px 0px;
}

.box > .header{
    color: rgb(1, 84, 42);
    font-size: 1.6em;
    border-width: 0.01em 0.01em 0.01em 2em;
    border-style: solid;
    border-color: rgb(1, 84, 42);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    float: left;
    padding: 0.25em;
	width: 350px;
}

.box > .header.blue{
	color: rgb(0, 103, 169);
	border-color: rgb(0, 103, 169);
}
.box > .header.darkblue{
	color: rgb(0, 71, 133);
	border-color: rgb(0, 71, 133);
}
.box > .header.red{
	color: rgb(186, 19, 26);
	border-color: rgb(186, 19, 26);
}
.box > .header.orange{
	color: rgb(182, 59, 0);
	border-color: rgb(182, 59, 0);
}
.box > .header.green{
	color: rgb(56, 117, 0);
	border-color: rgb(56, 117, 0);
}
.box > .header.darkgreen{
    color: rgb(1, 84, 42);
	border-color: rgb(1, 84, 42);
}
.box > .header.pink{
    color: rgb(190, 0, 128);
	border-color: rgb(190, 0, 128);
}
.box > .header.purple{
    color: rgb(102, 46, 145);
	border-color: rgb(102, 46, 145);
}


.box > .space {
    clear: both;
}

.box > .body {
    font-size: 0.88em;
    font-weight: normal;
    line-height: 1.5em;
    margin-top: 0.5em;
    color: rgb(82, 77, 82);
    padding-bottom: 0.5em;
	width: 350px;
    padding-top: 0em;
}

#bottomBar{
	clear:both;
	padding:0;
	letter-spacing:.1em;
	text-align: center;
	position:fixed;
	bottom:0;
	width:100%;
	background:white;
	border-top:2px solid black;
	right:0px;
}

#header{
	background:#1d1d1d;
	float: left;
	width: 263px;
	height: 100%;
	position: fixed;
    margin: 0px auto;
}

#header > #date{
	color:white;
	text-align:center;
	font-size:250%;
}

#header > #logo{
	background-color: rgb(26, 26, 26);
	margin-right: 1px;
	padding: 15px;
	animation: 1s ease 0s normal none 1 fadeIn;
}

#header > #logo > img{
	float: left;
	margin-right: 8px;
	width: 53px;
}

#header > #TitleMenu
 {
	color:rgb(235, 235, 235);
	font-size:22px;
	padding:15px;
}

#header > ul {
	padding-bottom: 14px;
	margin-top: -1px;
}

#header > ul li{
	overflow: hidden;
	margin-right: 1px;
	line-height: 50px;
	width: 263px;
}

li.separator {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    background-color: #3A3A3A;
    height: 1px;
}

#header > ul > li a{
	background-color: #1d1d1d;
	color: white;
	display: block;
	text-decoration: none;
	padding-left: 20px;
}

#header > ul > li a:hover{
	background-color: rgb(58, 58, 58);
}

#header > ul > li ul{
	background-color: #324452;
}

#header > ul > li ul li a{
	background: none;
	border-top: 1px solid #212f39;
}

#header > ul > li ul li a:hover{
	background: none scroll top left #284860;
}

#header > ul > li.optional a{
	visibility: hidden;
	background-color: rgb(13, 118, 227);
}

#header > ul > li.optional a:hover{
	background-color: rgb(23, 128, 255);
}

#header > ul > li.save a{
	visibility: hidden;
	background-color: rgb(0, 100, 0);
}

#header > ul > li.save a:hover{
	background-color: rgb(0, 120, 0);
}

#main{
	margin-left: 270px;
	color: black;
}

#main > #title{
	font-size: 2em;
}

#main > #title > #ResponseAlert{
	text-align:center;
	height: 40px;
	color: white;
	font-size: 20px;
	float: right;
	background-color: rgb(0, 119, 0);
	padding: 0px 5px 0px 5px;
}

#main > #title > #ResponseAlert.error{
	background-color: rgb(119, 0, 0);
}

div#contentRotator {
	top: 10px;
    width: 100%;
    height: 238px;
    position: relative;
    overflow: hidden;
}

div#contentRotator div.rotatorItem {
    width: 100%;
    height: 238px;
	background-position: center top;
	background-size: cover;
	display: none;
    position: absolute;
    -moz-user-select: none;
}

div#contentRotator div.rotatorOld {
	display: block;
	animation: 2s ease 0s normal none 1 fadeOut;
	opacity: 0;
}

div#contentRotator div.rotatorCurrent {
    left: 0;
	display: block;
	animation: 2s ease 0s normal none 1 fadeInLeft;
	opacity: 1;
}

div#contentRotator div.rotatorItem > h3 {
    font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif;
    color: rgb(255, 255, 255);
    font-size: 0.913em;
    line-height: 1.25em;
    max-width: 90%;
    padding: 15px 30px 0px;
}

div#contentRotator div.rotatorItem > a {
    color: rgb(0, 188, 242);
    font-size: 1.125em;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30px;
    height: 36px;
    line-height: 1.75em;
    display: inline-block;
}

div#contentRotator div.rotatorItem > h2 {
    font-size: 2.25em;
    line-height: 1em;
    max-width: 90%;
    padding: 20px 30px 0px;
}

div#contentRotator div.rotatorItem > h2, div#contentRotator div.rotatorItem > h2 > a {
    font-family: 'Segoe UI Light','Segoe UI',Tahoma,Helvetica,Sans-Serif;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

div#contentRotator div#rotatorThumbs {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

div#contentRotator div.rotatorThumb {
	height: 15px;
	width: 15px;
	margin-right: 10px;
	float: left;
	cursor: pointer;
}

.rotatorThumbOff {
	background-color: rgba(255, 255, 255, 0.3);
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.rotatorThumbOn {
	background-color: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    overflow: hidden;
}

ul.sideBar {
	padding-bottom: 7px;
	margin-top: -1px;
	position: absolute;
}

ul.sideBar > li{
	overflow: hidden;
	margin-right: 1px;
	line-height: 25px;
	width: 125px;
}

ul.sideBar > li{
	background-color: #3A3A3A;
	color: white;
	display: block;
	text-decoration: none;
	padding-left: 20px;
}