:root input[type="button"], :root input[type="submit"], :root button {
	background: linear-gradient(135deg,  rgba(255,0,0,1) 0%,rgba(255,238,0,1) 20%,rgba(33,255,0,1) 39%,rgba(8,0,255,1) 60%,rgba(255,0,255,1) 85%,rgba(147,0,145,1) 100%);
}

:root input[type="text"]:disabled, :root input[type="password"]:disabled, :root textarea:disabled {
    background-color: rgb(240, 240, 240);
}

:root input[type="button"]:hover, :root input[type="submit"]:hover, :root button:hover {
	background: linear-gradient(135deg,  rgba(255,0,0,0.8) 0%,rgba(255,238,0,0.8) 20%,rgba(33,255,0,0.8) 39%,rgba(8,0,255,0.8) 60%,rgba(255,0,255,0.8) 85%,rgba(147,0,145,0.8) 100%);
}

:root input[type="button"]:active, :root input[type="submit"]:active, :root button:active {
	background-color: black;
	color: white;
	border: 2px black;
}

.ButtonBack {
	background: url(../img/icon_sprite_actionArrow_black.png) no-repeat;
}

.dialog > #content{
	background: linear-gradient(135deg,  rgba(255,0,0,1) 0%,rgba(255,238,0,1) 20%,rgba(33,255,0,1) 39%,rgba(8,0,255,1) 60%,rgba(255,0,255,1) 85%,rgba(147,0,145,1) 100%);
}

.dialog button:active{
	background-color: white;
	color: black;
	border: 2px white;
}

.accordion  > li  > a {
	background: linear-gradient(135deg,  rgba(255,0,0,1) 0%,rgba(255,238,0,1) 20%,rgba(33,255,0,1) 39%,rgba(8,0,255,1) 60%,rgba(255,0,255,1) 85%,rgba(147,0,145,1) 100%);
}

.accordion  > li.active > a{
	background: linear-gradient(135deg,  rgba(255,0,0,0.8) 0%,rgba(255,238,0,0.8) 20%,rgba(33,255,0,0.8) 39%,rgba(8,0,255,0.8) 60%,rgba(255,0,255,0.8) 85%,rgba(147,0,145,0.8) 100%);
}

#header{
	background: linear-gradient(135deg,  rgba(255,0,0,1) 0%,rgba(255,238,0,1) 20%,rgba(33,255,0,1) 39%,rgba(8,0,255,1) 60%,rgba(255,0,255,1) 85%,rgba(147,0,145,1) 100%);
}

#header > #logo{
	background-color: rgb(194, 54, 1);
}

#header > #TitleMenu {
	color: rgba(0, 0, 0, 0.9);
}

li.separator {
    background-color: rgba(255, 255, 255, 0.2);
}

#header > ul > li a{
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0.9);
}

#header > ul > li a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

ul.sideBar > li{
	background: linear-gradient(135deg,  rgba(255,0,0,0.8) 0%,rgba(255,238,0,0.8) 20%,rgba(33,255,0,0.8) 39%,rgba(8,0,255,0.8) 60%,rgba(255,0,255,0.8) 85%,rgba(147,0,145,0.8) 100%);
	color: black;
}
ul.sideBar > li ul > li a{
	color: black;
}

ul.sideBar > li ul > li a:hover{
	color: black;
}