html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 400;
}

header {
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px #1d1d1d;
    color: #000000;
    padding: 15px 15px;
    position: relative;
}

div.step{
    padding: 5px 15px;
    font-size: 10pt;
    color: #ffffff;
    background: #353535;
    line-height: 35px;
}

div.step.darken {
    color: #ffffff;
    background: #353535;
    border-bottom: 1px solid #292929;
}

div.step.light {
    color: #212121;
    background: #eaeaea;
    border-bottom: 1px solid #dadada
}

div.step > span.status {
    width: 10px;
    height: 10px;
    position: relative;
    display: -webkit-inline-box;
    background: #9dbb41;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}

div.step > span.status.fail {
    background: #ff0039;
}
