<div id="container">
	<div id="content" style="position: relative" class="clearfix">
<?php
$Row = CACHE::LoadPromos();
$Count = 0;
if(count($Row) > 0):
?>
 <div id="promo-box">
    <div id="promo-bullets"></div>
<?php
	foreach($Row as $DataRow):
		if($Count === 0):
			$Count++;
			echo ' <div class="promo-container" style="background-image: url(' . $DataRow['BackGroundImage'] . ')">';
		else:
			echo ' <div class="promo-container" style="display: none; background-image: url(' . $DataRow['BackGroundImage'] . ')">';
		endif;
?>
            <div class="promo-content-container">
                <div class="promo-content">
                    <div class="title"><?php echo $DataRow['Title']; ?></div>
                    <div class="body"><?php echo $DataRow['Content']; ?></div>
                </div>
            </div>
<?php
if(!empty($DataRow['Button']) && substr_count($DataRow['Button'], '|') !== 3):
	$b = explode('|', $DataRow['Button']);
?>
            <div class="promo-link-container">
				<div class="enter-hotel-btn">
					<div class="open enter-btn">
<?php if($b[1] === 'client'): ?>
					    <a href="<?php echo PATH; ?>/client" target="<?php echo (USER::$LOGGED) ? USER::$Row['client_token'] : ''; ?>" onclick="HabboClient.openOrFocus(this); return false;"><?php echo $b[0];; ?><i></i></a>
<?php else: ?>
						<a style="padding: 0 8px 0 <?php echo ($b[2] === 'true') ? 'auto' : '19px'; ?>;" href="<?php echo $b[1]; ?>"><?php echo $b[0]; echo ($b[2] === 'true') ? '<i></i>' : ''?></a>
<?php endif; ?><b></b>
						</div>
				</div>
            </div>
<?php endif; ?>
        </div>

<?php endforeach; ?>
</div>

<script type="text/javascript">
    document.observe("dom:loaded", function() { PromoSlideShow.init(); });
</script>
<?php endif; ?>
    <div id="column1" class="column">

<?php
/*
				<div class="habblet-container ">		
						<div class="cbb clearfix blue ">
<div class="box-tabs-container clearfix">
    <h2>Grupos</h2>
    <ul class="box-tabs">
        <li id="tab-0-0-1"><a href="#">Temas Recientes</a><span class="tab-spacer"></span></li>
        <li id="tab-0-0-2" class="selected"><a href="#">Top Grupos</a><span class="tab-spacer"></span></li>
    </ul>
</div>
    <div id="tab-0-0-1-content"  style="display: none">
    		<div class="progressbar"><img src="<?php echo webgallery; ?>/images/progress_bubbles.gif" alt="" width="29" height="6" /></div>
    		<a href="<?php echo PATH; ?>/Habblet/proxy.php?hid=h112" class="tab-ajax"></a>
    </div>
    <div id="tab-0-0-2-content" >
<div id="hotgroups-habblet-list-container" class="habblet-list-container groups-list">
    <ul class="habblet-list two-cols clearfix">
<?php
$i = 0;
$j = 1;

$getem = $MySQLi->query("SELECT id, badge, name FROM groups_details ORDER BY views DESC LIMIT 10");
$Odd = "odd";
$Even = "odd";

while ($row = $getem->fetch_assoc())
{
	$i++;

	if($Odd == "even"):
		$Odd = "odd";
		$left = "right";
	else:
		$Odd = "even";
		$left = "left";
		$Even = ($Even == "odd") ? "even" : "odd";
	endif;
?>
		<li style="background-image: url(<?php echo PATH; ?>/habbo-imaging/badge/<?php echo $row['badge']; ?>.gif);" class="<?php echo $Even; ?> <?php echo $left; ?>">
                <a href="<?php echo PATH; ?>/groups/<?php echo $row['id']; ?>/id" class="item"><span class="index"><?php echo $i; ?>.</span> <?php echo $row['name']; ?></a>
           </li>
		<?php } ?>
</ul>
    <div id="hotgroups-list-hidden-h111" style="display: none">
    <ul class="habblet-list two-cols clearfix">
<?php
$i = 10;
$j = 1;
$getem = $MySQLi->query("SELECT id, badge, name FROM groups_details ORDER BY views DESC LIMIT 40 OFFSET 10");

while ($row = $getem->fetch_assoc())
{
	$i++;

	if(IsEven($i) == "even")
		$left = "right";
	else
	{
		$left = "left";
		$j++;
	}
		
	if(IsEven($j) == "even")
		$even = "even";
	else
		$even = "odd";
?>
			<li style="background-image: url(<?php echo PATH; ?>/habbo-imaging/badges/<?php echo $row['badge']; ?>.gif);" class="<?php echo $even; ?> <?php echo $left; ?>">
                <a href="<?php echo PATH; ?>/groups/<?php echo $row['id']; ?>/id" class="item"><span class="index"><?php echo $i; ?>.</span> <?php echo $row['name']; ?></a>
           </li>
<?php } ?>
</ul>
</div>
    <div class="clearfix">
        <a href="#" class="hotgroups-toggle-more-data secondary" id="hotgroups-toggle-more-data-h111">Mostrar más Grupos</a>
    </div>
<script type="text/javascript">
L10N.put("show.more.groups", "Mostrar más Grupos");
L10N.put("show.less.groups", "Mostrar menos Grupos");
var hotGroupsMoreDataHelper = new MoreDataHelper("hotgroups-toggle-more-data-h111", "hotgroups-list-hidden-h111","groups");
</script>
</div>
</div>
		</div>
			</div>
				<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
*/ ?>

<?php CACHE::AppendPluginsPosition(7); ?>
</div>
<div id="column2" class="column">
<?php CACHE::AppendPluginsPosition(8); ?>
	<div class="habblet-container ">
						
						
						
				</div>
				<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>			

	
</div>