<?php CACHE::AppendPluginsPosition(0); ?>
<div id="content"<?php if(isset($errorJ)): ?> class="<?php echo $errorJ[1]; ?>"<?php endif; ?>>
    <ul>
        <li id="home-anchor" class="home-anchor-day">
            <div id="welcome">
                <a href="#registration" class="button large" id="join-now-button"><b></b><span>Únete hoy</span><span class="sub">(Es gratis)</span></a>
                <div id="slogan">
                    <h1>Bienvenido a <?php echo $hotelName; ?>,</h1>
                    <p>Un lugar extraño con gente genial.</p>
                    <p><a id="tell-me-more-link" href="#">Cuéntame más...</a></p>
                </div>
            </div>
            <div id="carousel">
                <div id="image1"></div>
                <div id="image2"></div>
                <div id="image3"></div>
                <div id="tell-me-more"><?php echo $hotelName; ?> Hotel es un mundo virtual para jugadores a partir de 13 años en el que puedes crear tu personaje de <?php echo $hotelName; ?> y diseñar tu Sala como quieras. Harás amigos, chatearás, organizarás fiestas, cuidarás Mascotas virtuales, crearás y jugarás a juegos y completarás Retos. ¡Haz clic en únete para empezar!</div>
            </div>
            <div id="geotargeting"></div>
            <div id="floaters"></div>
        </li>
        <li id="registration-anchor">

<div id="registration-form">
    <div id="registration-form-header">
        <h2>ID de usuario</h2>
        <p>Rellena esta información para empezar:</p>
    </div>
    <div id="registration-form-main">
        <form id="register-new-user" autocomplete="off">
        <input type="hidden" name="next" value="">
        <div id="registration-form-main-left">

            <label for="registration-email">Email</label>
            <label for="registration-email" class="details">Necesitarás usar esta <b>dirección de email para conectarte</b> a <?php echo $hotelName; ?> en el futuro. Por favor, usa un email válido. Asegúrate de que introduces la terminación correcta (Ejemplo: hotmail.es ó hotmail.com, o bien yahoo.es ó yahoo.com)</label>
            <input type="email" name="registrationBean.email" id="registration-email" value="">


            <span id="password-field-container">
                <label for="registration-password">Nueva contraseña</label>
                <label for="registration-password" class="details">La contraseña debe tener al menos <b>6 caracteres</b> e incluir <b>letras y números</b></label>
                <input type="password" name="registrationBean.password" id="registration-password" maxlength="32" value="">

            </span>

            <div id="captcha-container">
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <label for="recaptcha_response_field">¿Eres humano?</label>
                <div id="recaptcha_response_field" class="g-recaptcha" data-theme="light" name="g-recaptcha-response" data-sitekey="<?php echo $ReCaptcha['siteKey']; ?>"></div>
            </div>
        </div>
        <div id="registration-form-main-right">

            <label for="registration-birthday">Fecha de nacimiento</label>
            <label for="registration-birthday" class="details">Utilizaremos esto para restaurar tu cuenta si no puedes acceder. Tu fecha de nacimiento no se hará pública.</label>
            <div id="registration-birthday">
<select name="registrationBean.day" id="registrationBean_day" class="dateselector"><option value="">Día</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select> <select name="registrationBean.month" id="registrationBean_month" class="dateselector"><option value="">Mes</option><option value="1">enero</option><option value="2">febrero</option><option value="3">marzo</option><option value="4">abril</option><option value="5">mayo</option><option value="6">junio</option><option value="7">julio</option><option value="8">agosto</option><option value="9">septiembre</option><option value="10">octubre</option><option value="11">noviembre</option><option value="12">diciembre</option></select> <select name="registrationBean.year" id="registrationBean_year" class="dateselector"><option value="">Año</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option><option value="1917">1917</option><option value="1916">1916</option><option value="1915">1915</option><option value="1914">1914</option><option value="1913">1913</option><option value="1912">1912</option><option value="1911">1911</option><option value="1910">1910</option><option value="1909">1909</option><option value="1908">1908</option><option value="1907">1907</option><option value="1906">1906</option><option value="1905">1905</option><option value="1904">1904</option><option value="1903">1903</option><option value="1902">1902</option><option value="1901">1901</option><option value="1900">1900</option></select>             </div>

            <p class="checkbox-container" id="registration-tos">
                <input type="checkbox" id="tos" name="registrationBean.termsOfServiceSelection" value="true">
                <label for="tos" class="details checkbox">
                    Acepto <a href="<?php echo PATH; ?>/papers/privacy" target="_blank" onclick="window.open('<?php echo PATH; ?>/papers/privacy'); return false;">los Términos del Servicio</a> y la Política de Privacidad
                </label>
            </p>
            <p class="checkbox-container" id="registration-cookies">
                <input type="checkbox" id="cookies" name="registrationBean.cookiePolicySelection" value="true">
                <label for="cookies" class="details checkbox">
                Acepto la <a href="http://help.habbo.es/entries/28538017-Politica-de-Cookies" target="_blank" onclick="window.open('<?php echo PATH; ?>/papers/cookies'); return false;">Política de Cookies</a>
                </label>
            </p>
            <p class="checkbox-container">

                <input type="checkbox" id="registration-marketing" value="true" name="registrationBean.marketing">
                <label for="registration-marketing" class="details checkbox">Enviadme actualizaciones de <?php echo $hotelName; ?>, incluida la newsletter semanal.</label>
            </p>
            <div class="submit-button-wrapper">
                <a href="#" class="button large not-so-large register-submit"><b></b><span>Finalizar</span></a>
            </div>
        </div>

        <div id="parent-email-container" style="display: none;">
            <label for="parent-email">Email de los padres</label>
            <label for="parent-email" class="details">Debido a que tienes menos de 15 años, tendremos que contactar con tus padres e informarles de que has comenzado a jugar en <?php echo $hotelName; ?>.</label>
            <input type="email" id="parent-email" name="registrationBean.parentEmail" value="">
            <div class="submit-button-wrapper">
                <a href="#" class="button large not-so-large register-submit"><b></b><span>Finalizar</span></a>
            </div>
        </div>
        </form>
    </div>
	<p id="registration-disclaimer">Incluye compras en-app opcionales</p>
</div>
            <div id="sail"></div>
            <div id="baggage" ></div>
        </li>
    </ul>
</div>

<footer>
    <div id="age-recommendation"></div>

    <div id="footer-content" class="partner-logo-present">
        <div id="footer"><a href="<?php echo PATH; ?>/papers/termsAndConditions" target="_new">Términos y Condiciones</a> / <a href="<?php echo PATH; ?>/papers/privacy" target="_new">Política de Privacidad</a> / <a href="<?php echo PATH; ?>/papers/cookies" target="_new">Política de Cookies</a></div>
        <div id="copyright">2014 aXDR 2.1. <?php echo www; ?> is not affiliated with, endorsed, sponsored, or specifically approved by Sulake Corporation Oy or its Affiliates. <br/>
		All the content belongs to Sulake Corporation Oy. All rights reserved.</div>
    </div>
</footer>


<script src="<?php echo webgallery; ?>/static/js/v3_landing_bottom.js" type="text/javascript"></script>
<!--[if IE]><script src="<?php echo webgallery; ?>/static/js/v3_ie_fixes.js" type="text/javascript"></script>
<![endif]-->

    <script type="text/javascript">
        $(document).ready(function() {
            EuCookiePolicy.init();
        });
    </script>

</body>
</html>