<div id="stepnumbers">
    <div class="stepdone"><?php echo ($cConfig["client.new.user.reception"]) ? "Fecha de nacimiento" : "Cumpleaños y Género"; ?></div>
    <div class="step2focus">Detalles de la cuenta</div>
    <div class="step3">Comprueba la seguridad</div>
    <div class="stephabbo"></div>
</div>

<div id="main-container">

<?php
if(stristr($_SERVER["REQUEST_URI"], '/e/'))
{
	if(isset($_SESSION['quickregister']['register_errors']))
	{
?>
        <div id="error-messages-container" class="cbb">
            <div class="rounded" style="background-color: #cb2121;">
               <div id="error-title" class="error">
			<?php echo $_SESSION['quickregister']['register_errors']; ?>

                </div>

            </div>
        </div>
<?php } else
{ ?>
       <div id="error-placeholder"></div>
<?php }
}
else
{ ?>
       <div id="error-placeholder"></div>
<?php } ?>

   <form method="post" action="<?php echo PATH; ?>/quickregister/email_password_submit" id="quickregister-form">

        <h2>Detalles de la cuenta</h2>

      <div id="inner-container">
        <div class="inner-content bottom-border">
<?php if(!$cConfig["client.new.user.reception"]): ?>
            <div class="field">
                <label for="user-name">Nombre</label>
                <input type="text" id="user-name" name="bean.username" value="<?php if(isset($_SESSION['quickregister']['USER']['Step2'])) { echo $_SESSION['quickregister']['USER']['Step2'][4]; } ?>" <?php if(isset($_SESSION['quickregister']['error']['username'])) { echo $_SESSION['quickregister']['error']['username'][1]; } ?> />
            </div>
            <div class="help"><b>¡Solo puedes escoger el nombre una vez!</b>, después si quieres cambiarlo tienes que comprarte el <b>Vip</b></div>
<?php endif; ?>
            <div class="field">
                <label for="email-address">Email</label>
                <input type="text" id="email-address" name="bean.email" value="<?php if(isset($_SESSION['quickregister']['USER']['Step2'])) { echo $_SESSION['quickregister']['USER']['Step2'][0]; } ?>" <?php if(isset($_SESSION['quickregister']['error']['mail'])) { echo $_SESSION['quickregister']['error']['mail'][0]; } ?> />
            </div>
            <div class="help">Necesitarás usar esta <b>dirección de email para conectarte</b> a <?php echo $hotelName; ?> en el futuro. Por favor, usa un email válido. Asegúrate de que introduces la terminación correcta (Ejemplo: hotmail.es ó hotmail.com, o bien yahoo.es ó yahoo.com)</div>
            <div class="field">

                <label for="email-address2">Reintroduce email</label>
                <input type="text" id="email-address2" name="bean.retypedEmail" value="<?php if(isset($_SESSION['quickregister']['USER']['Step2'])) { echo $_SESSION['quickregister']['USER']['Step2'][1]; } ?>" <?php if(isset($_SESSION['quickregister']['error']['mail'])) { echo $_SESSION['quickregister']['error']['mail'][1]; } ?>/>
            </div>
            <div class="help">... sólo por seguridad.</div>

            <div id="password-field" class="field">
                <label for="register-password">Nueva contraseña</label>
                <input type="password" name="bean.password" id="register-password" maxlength="32" value="<?php if(isset($_SESSION['quickregister']['USER']['Step2'])) { echo $_SESSION['quickregister']['USER']['Step2'][2]; } ?>" <?php if(isset($_SESSION['quickregister']['error']['password'])) { echo $_SESSION['quickregister']['error']['password']; } ?>/>

            </div>
            <div class="help">La contraseña debe tener al menos <b>6 caracteres</b> e incluir <b>letras y números</b></div>
        </div>

        <div class="inner-content top-margin">
			<div class="field-content checkbox ">
			  <label>

			    <input type="checkbox" name="bean.termsOfServiceSelection" id="terms" value="true" <?php if(isset($_SESSION['quickregister']['USER']['Step2'])) { if($_SESSION['quickregister']['USER']['Step2'][3] == "true") { ?>checked="checked"<?php }} ?> class="checkbox-field"/>
			    Acepto los <a href="<?php echo PATH; ?>/papers/termsAndConditions" target="_blank" onclick="window.open('<?php echo PATH; ?>/papers/termsAndConditions'); return false;">Términos y Condiciones del Servicio</a>
			  </label>
			</div>            

			<div class="field-content checkbox">
			  <label>
							    <input type="checkbox" name="bean.marketing" id="marketing" value="true" class="checkbox-field"/>
			    Enviadme actualizaciones de <?php echo $hotelName; ?>, incluida la newsletter semanal.
			  </label>

			</div>
			
<?php if(isset($_SESSION["Index"]["Login"]["Tries"]) && $_SESSION["Index"]["Login"]["Tries"] == 4): ?>	
            <div id="register-fieldset-captcha" class="field field-captcha">
               <div id="captcha-container">
                  <label>Teclea el código de la imagen</label>
                  <noscript>
                        <iframe src="https://www.google.com/recaptcha/api/noscript?k=6Lc4BMASAAAAAN7wRyHPGo2WvrinsGOiXsnrKVmK" height="300" width="290" frameborder="0"></iframe><br/>
                   </noscript>
                   <input type="text" id="recaptcha_response_field" value="" autocomplete="off" name="captchaResponse" class="text-field"/>
                    <div id="recaptcha_image" class="register-label"></div>
                    <br clear="all"/><a href="#" id="captcha-reload" onclick="Utils.reloadRecaptcha(); return false;">Intenta con palabras diferentes</a>
                </div>
            </div>
<?php endif; ?>	
			
        </div>
      </div>
    </form>


    <div id="select">
        <div class="button">
            <a id="proceed-button" href="#" class="area">Continuar</a>

            <span class="close"></span>
        </div>
        <a href="<?php echo PATH; ?>/quickregister/back" id="back-link">Atrás</a>
   </div>
</div>

<script type="text/javascript">
    document.observe("dom:loaded", function() {
        Event.observe($("back-link"), "click", function() {
            Overlay.show(null,'Cargando...');
        });
        Event.observe($("proceed-button"), "click", function() {
            Overlay.show(null,'Cargando...');            
            $("quickregister-form").submit();
        });
            $("email-address").focus();
    });
</script>

<?php if(isset($_SESSION["Index"]["Login"]["Tries"]) && $_SESSION["Index"]["Login"]["Tries"] == 4): ?>	
        <script type="text/javascript">
            document.observe("dom:loaded", function() {
                Utils.showRecaptcha("register-fieldset-captcha", "6Lc4BMASAAAAAN7wRyHPGo2WvrinsGOiXsnrKVmK");
                if ($("captcha-reload")) {
                    Event.observe($("captcha-reload"), "click", function(e) {Event.stop(e); Utils.reloadRecaptcha()});
                }           
            });
        </script>
<?php endif; ?>	

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-448325-19']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
    HabboView.run();
</script>

</body>
</html>