<div class="movable widget RoomsWidget" id="widget-<?php echo $WidgetId; ?>" style=" left: <?php echo $row['position_left']; ?>px; top: <?php echo $row['position_top']; ?>px; z-index: <?php echo $row['position_z']; ?>;">
	<div class="<?php echo $row['skin']; ?>">
		<div class="widget-corner" id="widget-<?php echo $WidgetId; ?>-handle">
			<div class="widget-headline">
				<h3>
					<img src="<?php echo webgallery; ?>/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-<?php echo $WidgetId; ?>-edit" />
					<script language="JavaScript" type="text/javascript">
						var editButtonCallback = function(e) { openEditMenu(e, <?php echo $WidgetId; ?>, "widget", "widget-<?php echo $WidgetId; ?>-edit"); };
						Event.observe("widget-<?php echo $WidgetId; ?>-edit", "click", editButtonCallback);
						Event.observe("widget-<?php echo $WidgetId; ?>-edit", "editButton:click", editButtonCallback); 
					</script>
					<span class="header-left">&nbsp;</span><span class="header-middle">MIS SALAS</span><span class="header-right">&nbsp;</span>
				</h3>
			</div>	
		</div>
		<div class="widget-body">
			<div class="widget-content">
				Próximamente
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>